[View in Colaboratory](https://colab.research.google.com/github/eventia/deepLearningOpenLecture/blob/master/coLabMnistTrain.ipynb)

## CoLaboratory 이용한 MNIST 학습

In [0]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive
!pip install -q keras

### 구글 드라이브에 app 폴더 만들어 mnist_cnn.py 저장 \\
https://github.com/keras-team/keras/blob/master/examples/mnist_cnn.py \\

In [0]:
!python3 drive/app/mnist_cnn.py

/usr/local/lib/python3.6/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
Downloading data from https://s3.amazonaws.com/img-datasets/mnist.npz
11493376/11490434 [==============================] - 1s 0us/step
x_train shape: (60000, 28, 28, 1)
60000 train samples
10000 test samples
Train on 60000 samples, validate on 10000 samples
Epoch 1/12
17024/60000 [=======>......................] - ETA: 2:02 - loss: 0.5850 - acc: 0.8167

60000/60000 [==============================] - 176s 3ms/step - loss: 0.2730 - acc: 0.9161 - val_loss: 0.0534 - val_acc: 0.9816
Epoch 2/12
40448/60000 [===================>..........] - ETA: 55s - loss: 0.0938 - acc: 0.9718

60000/60000 [==============================] - 175s 3ms/step - loss: 0.0917 - acc: 0.9724 - val_loss: 0.0392 - val_acc: 0.9864
Epoch 3/12

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0691 - acc: 0.9792 - val_loss: 0.0349 - val_acc: 0.9877
Epoch 4/12
52992/60000 [=========================>....] - ETA: 19s - loss: 0.0583 - acc: 0.9826

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0581 - acc: 0.9825 - val_loss: 0.0325 - val_acc: 0.9887
Epoch 5/12
54144/60000 [==========================>...] - ETA: 16s - loss: 0.0478 - acc: 0.9857

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0472 - acc: 0.9858 - val_loss: 0.0324 - val_acc: 0.9885
Epoch 6/12
54272/60000 [==========================>...] - ETA: 16s - loss: 0.0410 - acc: 0.9876

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0416 - acc: 0.9871 - val_loss: 0.0275 - val_acc: 0.9907
Epoch 7/12
55040/60000 [==========================>...] - ETA: 14s - loss: 0.0385 - acc: 0.9881

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0381 - acc: 0.9881 - val_loss: 0.0284 - val_acc: 0.9911
Epoch 8/12
54784/60000 [==========================>...] - ETA: 14s - loss: 0.0341 - acc: 0.9892

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0341 - acc: 0.9892 - val_loss: 0.0281 - val_acc: 0.9903
Epoch 9/12
55168/60000 [==========================>...] - ETA: 13s - loss: 0.0321 - acc: 0.9904

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0322 - acc: 0.9903 - val_loss: 0.0315 - val_acc: 0.9899
Epoch 10/12
54912/60000 [==========================>...] - ETA: 14s - loss: 0.0306 - acc: 0.9904

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0305 - acc: 0.9904 - val_loss: 0.0278 - val_acc: 0.9906
Epoch 11/12
54656/60000 [==========================>...] - ETA: 15s - loss: 0.0291 - acc: 0.9910

60000/60000 [==============================] - 177s 3ms/step - loss: 0.0287 - acc: 0.9913 - val_loss: 0.0261 - val_acc: 0.9916
Epoch 12/12
54528/60000 [==========================>...] - ETA: 15s - loss: 0.0261 - acc: 0.9918

60000/60000 [==============================] - 176s 3ms/step - loss: 0.0263 - acc: 0.9917 - val_loss: 0.0264 - val_acc: 0.9920
Test loss: 0.026374660374172527
Test accuracy: 0.992

https://medium.com/deep-learning-turkey/google-colab-free-gpu-tutorial-e113627b9f5d

In [1]:
!wget https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv -P drive/app

--2018-04-08 15:43:38--  https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1170 (1.1K) [text/plain]
Saving to: ‘drive/app/Titanic.csv’

Titanic.csv         100%[===================>]   1.14K  --.-KB/s    in 0s

2018-04-08 15:43:40 (35.2 MB/s) - ‘drive/app/Titanic.csv’ saved [1170/1170]

In [3]:
import pandas as pd
titanic = pd.read_csv("drive/app/Titanic.csv")
titanic.head(5)

   Unnamed: 0 Class     Sex    Age Survived  Freq
0           1   1st    Male  Child       No     0
1           2   2nd    Male  Child       No     0
2           3   3rd    Male  Child       No    35
3           4  Crew    Male  Child       No     0
4           5   1st  Female  Child       No     0